@import '~node_modules/modern-normalize/modern-normalize.css';

.container {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70px;
  background-color: rgb(136, 158, 239);
}

.search-form input {
  width: 300px;
  outline: none;
  border-radius: 2px;
  border: none;
  padding: 8px;
}

.search-form button {
  border-radius: 2px;
  border: none;
  padding: 8px;
  color: #393939;
}

.gallery {
  padding-top: 86px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.photo-card {
  border-radius: 5px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.photo-card img {
  display: block;
  margin: 0 auto;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.link-card {
  flex-basis: calc((100% - 48px) / 4);
  text-decoration: none;
}

.info {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  color: #393939;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .info {
    flex-direction: column;
  }
  .link-card {
    flex-basis: calc((100% - 36px) / 3);
  }
}

@media screen and (max-width: 580px) {
  .link-card {
    flex-basis: calc((100% - 24px) / 2);
  }
}
